albumentations==1.3.0
altair==4.2.0
anyio==3.6.2
appnope==0.1.3
astor==0.8.1
asttokens==2.1.0
attrs==22.1.0
backcall==0.2.0
backports.functools-lru-cache==1.6.4
base58==2.1.1
bcrypt==4.0.1
beautifulsoup4==4.11.2
blinker==1.5
boto3==1.26.5
botocore==1.29.6
brotlipy==0.7.0
cachetools==5.2.0
catboost==1.1.1
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.1.1
click==7.1.2
cloudpickle==2.2.0
cryptography==38.0.3
cycler==0.11.0
cytoolz==0.12.0
dask==2022.10.2
debugpy==1.6.3
decorator==5.1.1
dnspython==2.3.0
efficientnet-pytorch==0.7.1
email-validator==1.3.1
entrypoints==0.4
executing==1.2.0
fastapi==0.89.1
fastjsonschema==2.16.2
fsspec==2022.10.0
gitdb==4.0.9
GitPython==3.1.29
graphviz==0.20.1
h11==0.14.0
idna==3.4
imagecodecs==2022.9.26
imageio==2.22.0
importlib-metadata==5.0.0
importlib-resources==5.10.0
iniconfig==1.1.1
ipykernel==6.17.1
ipython==8.6.0
ipywidgets==8.0.2
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
jsonschema==4.17.0
jupyter_client==7.4.4
jupyter_core==5.0.0
jupyterlab-widgets==3.0.3
kiwisolver==1.4.4
locket==1.0.0
lxml==4.9.2
MarkupSafe==2.1.1
matplotlib==3.4.3
matplotlib-inline==0.1.6
mpmath==1.2.1
munkres==1.1.4
nbformat==5.7.0
nest-asyncio==1.5.6
networkx==2.8.8
numpy==1.23.4
opencv-python==4.6.0
packaging==21.3
pandas==1.5.1
parso==0.8.3
partd==1.3.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
pip==22.3.1
pkgutil_resolve_name==1.3.10
platformdirs==2.5.2
plotly==5.11.0
prompt-toolkit==3.0.32
protobuf==4.21.9
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==9.0.0
pycparser==2.21
pydantic==1.10.4
pydeck==0.8.0b4
Pygments==2.13.0
PyJWT==2.6.0
Pympler==1.0.1
PyMySQL==0.10.1
pyOpenSSL==22.1.0
pyparsing==3.0.9
pyrsistent==0.19.2
PySocks==1.7.1
python-dateutil==2.8.2
python-multipart==0.0.5
pytz==2022.6
PyWavelets==1.3.0
PyYAML==6.0
pyzmq==24.0.1
qudida==0.0.4
requests==2.28.1
s3transfer==0.6.0
scikit-image==0.19.3
scikit-learn==1.1.3
scipy==1.9.3
semver==2.13.0
setuptools==65.5.1
six==1.16.0
sklearn==0.0.post1
smmap==3.0.5
sniffio==1.3.0
soupsieve==2.3.2.post1
SQLAlchemy==1.3.22
stack-data==0.6.0
starlette==0.22.0
streamlit==1.8.0
sympy==1.11.1
tenacity==8.1.0
threadpoolctl==3.1.0
tifffile==2022.10.10
toml==0.10.2
toolz==0.12.0
torch==1.14.0.dev20221109
torchaudio==0.14.0.dev20221109
torchvision==0.15.0.dev20221109
tornado==6.2
traitlets==5.5.0
typing_extensions==4.4.0
tzdata==2022.6
tzlocal==3.0
urllib3==1.26.11
uvicorn==0.20.0
uvloop==0.17.0
validators==0.18.2
watchdog==2.1.9
wcwidth==0.2.5
wheel==0.38.3
widgetsnbextension==4.0.3
yagmail==0.15.293
zipp==3.10.0
