<!doctype html>
<head><style>
    html{height: 100%;}
body{position: relative;width: 100%;height: 100%;}
.logo_box{position: absolute;top: 50%;left: 50%;margin:-150px 0 0 -150px}
</style></head>
<html>
<body>
    <div  class="logo_box">
            <input type="submit" value="로그인완료">
    <br>
    <br>
    <br>
    <a href="https://steamcommunity.com/profiles/{{steam_id}}/edit/settings" target='_blank'>프로필공개하세요</a>
    <br>
    <br>
    <br>
    <a href="./userpage"><input type="submit" value="시작"></a>
</div>
</body>
</html>

